Source: c-evo
Maintainer: Chronos <robie@centrum.cz>
Section: devel
Priority: optional
Standards-Version: 1.0.0
Build-Depends: fpc, lazarus, lcl, lcl-utils, debhelper (>= 8)

Package: c-evo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, sox, libsox-fmt-mp3
Description: Empire building game
HomePage: https://app.zdechov.net/c-evo
