#!/usr/bin/make -f

# Set temporary HOME for lazarus primary config directory
export HOME=$(CURDIR)/tmphome

ROOT = $(CURDIR)/debian/c-evo

override_dh_auto_clean:
	$(RM) -r lib
	$(RM) lib c-evo

override_dh_auto_build:
	cd AI && lazbuild --build-mode=Release AIProject.lpi
	mv AI/libstdai.so AI/libstdai-$(DEB_HOST_ARCH).so
	lazbuild --build-mode=Release Integrated.lpi

override_dh_auto_install:
	install -d -m 755 $(ROOT)/usr/share/c-evo
	install -s -m 755 c-evo $(ROOT)/usr/share/c-evo
	install -d -m 755 $(ROOT)/usr/bin
	install -m 755 debian/c-evo.sh $(ROOT)/usr/bin/c-evo
	install -d -m 755 $(ROOT)/usr/share/applications
	install -m 755 Install/deb/c-evo.desktop $(ROOT)/usr/share/applications
	install -d -m 755 $(ROOT)/usr/share/pixmaps
	install -m 644 Graphics/c-evo_64x64.png $(ROOT)/usr/share/pixmaps/c-evo.png
	install -d -m 755 $(ROOT)/usr/share/c-evo/AI
	install -m 644 AI/libstdai-$(DEB_HOST_ARCH).so $(ROOT)/usr/share/c-evo/AI
	
%:
	dh $@
